[Desktop Entry]
Version=1.0
Type=Application
Name=Yazi File Manager
GenericName=File Manager
Comment=Browse files with Yazi in Kitty
TryExec=/usr/bin/yazi
Exec=kitty --single-instance --instance-group=sway-shortcuts --class kitty-yazi /usr/bin/yazi %f
Icon=utilities-terminal
Terminal=false
StartupNotify=false
NoDisplay=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
